#scorecardsSection {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.scorecard {
  border: 2px solid #333;
  padding: 10px;
  width: 270px;
  background-color: #f9f9f9;
  border-radius: 6px;
}

.scorecard h3 {
  text-align: center;
  margin-bottom: 10px;
}

.scorecard table {
  width: 100%;
  border-collapse: collapse;
}

.scorecard th,
.scorecard td {
  border: 1px solid #aaa;
  padding: 4px;
  text-align: center;
}

.diceButton {
  padding: 0;
  width: 128px;
  height: 128px;
  border: none;
  background: none;
}

.diceButton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.roomCodeInput {
  padding: 10px;
  font-size: 32px;
  height: 60px;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
}

.nameInput {
  padding: 10px;
  font-size: 32px;
  height: 60px;
  width: 300px;
  text-align: center;
}

.joinButton {
  padding: 20px;
  font-size: 32px;
  text-align: center;
  color: #ffffff;

  background: #efc900;
  border-color: #ef5641;
}

.joinButton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.indexTitle {
  font-family: 'Arial', sans-serif;
  font-style: italic;
  font-size: 120px;
  color: #ffffff;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.title-lines {
  width: 100vw;
  margin: 0px 0px 30px 0px;
  align-self: stretch;
}

.line {
  height: 30px;
  width: 100%;
}

.line-yellow {
  background-color: #efc900;
}

.line-orange {
  background-color: #eea130;
}

.line-red-orange {
  background-color: #ef5641;
}

.indexHeader {
  font-family: 'Arial', sans-serif;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  margin: 10px 0px 20px 0px;
}

.roomHeader {
  font-family: 'Arial', sans-serif;
  font-size: 64px;
  color: #ffffff;
  text-align: center;
  margin: 10px 0px 20px 0px;
}

.playersHeader {
  font-family: 'Arial', sans-serif;
  font-size: 48px;
  text-decoration: underline;
  color: #ffffff;
  text-align: center;
  margin: 10px 0px 20px 0px;
}

.currentTurnHeader {
  font-family: 'Arial', sans-serif;
  font-size: 32px;
  text-decoration: underline;
  color: #ffffff;
  text-align: center;
  margin: 0px 0px 0px 0px;
}

.playersList {
  list-style-type: none;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
}

.indexBody {
  background-color: #cf2e37;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  margin: 0px;
}

.roomBody {
  background-color: #cf2e37;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  margin: 0px;
}

