#scorecardsSection {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.scorecard {
  border: 2px solid #333;
  padding: 10px;
  width: 220px;
  background-color: #f9f9f9;
  border-radius: 6px;
}

.scorecard h3 {
  text-align: center;
  margin-bottom: 10px;
}

.scorecard table {
  width: 100%;
  border-collapse: collapse;
}

.scorecard th,
.scorecard td {
  border: 1px solid #aaa;
  padding: 4px;
  text-align: center;
}

.diceButton {
  padding: 0;
  width: 128px;
  height: 128px;
  border: none;
  background: none;
}

.diceButton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.roomCodeInput {
  padding: 10px;
  font-size: 32px;
  height: 60px;
  width: 200px;
  margin-right: 10px;
}

.joinButton {
  padding: 20px;
  font-size: 32px;

  background: none;
}

.joinButton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.indexTitle {
  font-family: 'Arial', sans-serif;
  font-size: 36px;
  color: #000000;
}

.indexHeader {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #000000;
}

