<!DOCTYPE html>
<html>
<head>
  <title>Lobby</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="indexBody">
  <h1 class="indexTitle">Yahtzee</h1>
  
  <div class="title-lines">
    <div class="line line-yellow"></div>
    <div class="line line-orange"></div>
    <div class="line line-red-orange"></div>
  </div>

  <input id="code" class="roomCodeInput" placeholder="Room Code">
  <button class="joinButton" onclick="joinRoom()">
    JOIN
  </button>

  <div>
    <h3 class="indexHeader">Or</h3>
    <button onclick="createRoom()" class="joinButton">CREATE ROOM</button>
  </div>

  <script>
    async function createRoom() {
      const res = await fetch("/create-room", { method: "POST" });
      const data = await res.json();
      window.location.href = `/room/${data.code}`;
    }

    function joinRoom() {
      const code = document.getElementById("code").value;
      window.location.href = `/room/${code}`;
    }
  </script>
</body>
</html>
