<!DOCTYPE html>
<html>
<head>
  <title>Room {{ code }}</title>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
  <h1>Room Code: {{ code }}</h1>

  <input id="name" placeholder="Your Name">
  <button id="join" onclick="join()">Join Room</button>

  <h3>Players</h3>
  <ul id="players"></ul>

  <button id="startBtn" onclick="startGame()" style="display:none;">
  Start Game
  </button>


  <script>
    const socket = io();
    const code = "{{ code }}";
    let isHost = false;

    function join() {
      const name = document.getElementById("name").value;
      if(name!="")
      {
        document.getElementById("name").disabled = true;
        document.getElementById("join").disabled = true;
        socket.emit("join_room", { code, name });
      }
    }
    socket.on("room_update", (data) => {
    isHost = data.is_host;

    if (isHost && !data.started) {
      document.getElementById("startBtn").style.display = "block";
    }
  });

  socket.on("player_list", (players) => {
    const list = document.getElementById("players");
    list.innerHTML = "";
    players.forEach(p => {
      const li = document.createElement("li");
      li.textContent = p;
      list.appendChild(li);
    });
  });

  function startGame() {
    socket.emit("start_game", { code });
  }

  socket.on("game_started", () => {
    alert("Game Started!");
    // Redirect to game page or initialize game state here
    // window.location.href = `/game/${code}`;
  });
  </script>
</body>
</html>
